
body {
  font-size: 14px;
  color: #333652;
  background-color: #F5F5F5;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.left-nav{
    display: flex;
    justify-content: flex-start;
}

.right-nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
}

li a{
    margin-left: 25px;
    text-decoration: underline;
    color: #333652;
}

.section-topic{
    height: 100vh;
    width: 100vw;
}

/*
.section-title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150px
}
*/

#beg-title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.left-to-right{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.left-to-right-animations{
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-to-left{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.coding-section{
    color: black;
    padding: 20px;
    border-radius: 20px;
}

.text-section{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

#gifs{
    display: flex;
}

.animations{
    display: flex;
    justify-content: center;
}

#plane-gif{
    object-fit: contain;
    width: 300px;
    margin-left: 50px;
}

#google{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#google img {
    object-fit: contain;
    width: 100vw - 30px;
}

#social-media img {
    object-fit: contain;
    height: 250px;
}

#smaller-img{
    object-fit: contain;
    width: 700px
}


.bg-white{
    background-color: white !important;
}















.loader-3 {
  width: 40rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
}

.circle:nth-child(1) {
  background-color: #90be6d;
}
.circle:nth-child(2) {
  background-color: #f9c74f;
}
.circle:nth-child(3) {
  background-color: #f8961e;
}
.circle:nth-child(4) {
  background-color: #f3722c;
}
.circle:nth-child(5) {
  background-color: #f94346;
}

.circle::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  animation: animateLoader3 2s ease-out infinite;
}

.circle:nth-child(1)::before {
  background-color: #90be6d;
}
.circle:nth-child(2)::before {
  background-color: #f9c74f;
  animation-delay: 0.2s;
}
.circle:nth-child(3)::before {
  background-color: #f8961e;
  animation-delay: 0.4s;
}
.circle:nth-child(4)::before {
  background-color: #f3722c;
  animation-delay: 0.6s;
}
.circle:nth-child(5)::before {
  background-color: #f94346;
  animation-delay: 0.8s;
}

@keyframes animateLoader3 {
  0% {
    transform: scale(1);
  }

  50%,
  75% {
    transform: scale(2.5);
  }

  80%,
  100% {
    opacity: 0;
  }
}
